<!DOCTYPE html>
<html>
  <head>
    <title><%= event.name %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <style type="text/css">
      .error {
        color: #DD2222;
      }
      .success {
        color: #22DD22;
      }
    </style>
  </head>

  <body onload="getLocation()">
  <div class="container">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1><%= event.name %> | heerheer</h1>

    <% var error = req.flash('error'); if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <% var success = req.flash('success'); if (success) { %>
      <p class="success"><%= success %></p>
    <% } %>

    <h2>event details</h2>
    <div id="map-canvas" style="height:400px; width:400px;">(loading map)</div><br>

    <p><strong>creator</strong> <%= event.creator.username %></p>
    <p><strong>start</strong> <%= event.start %></p>
    <p><strong>end</strong> <%= event.end %></p>

    <h2>check in</h2>

    <div>
      <form action="/events/<%= event.id %>/attendees" method="post">
        <div class="form-group">
          <p id="checkin-loading">hold tight, we're checking your location</p>
          <p id="rightplace-righttime" hidden>you're at the right place at the right time.</p>
          <p id="wrongplace-righttime" hidden>the time is right, but you feel... distant</p>
          <p id="rightplace-wrongtime" hidden>you've come to the right place, but... now's not a good time.</p>
          <p id="wrongplace-wrongtime" hidden>not here! not now!</p>
          <input id="checkin-button" type="submit" value="check in" class="btn btn-default" disabled>
        </div>
      </form>
    </div>

    <h2>attendees</h2>

    <% if (event.attendees.length < 1) { %>
    <p>No one's checked into this event yet!</p>
    <% } %>

    <ul>
      <% _.each(event.attendees, function(attendee) { %>
      <li><!-- <a href="users/<%= attendee.id %>"> --><%= attendee.username %><!-- </a> --></li>
      <% }) %>
    </ul>
  </div>
  </div>
  </div>

    <!-- Google Maps scripts -->

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showLocation, showError);
        } else {
          var errorText = document.getElementById("error-text");
          errorText.innerHTML = "Geolocation is not supported by this browser.";
        }
      }

      function showMap(color, currentLoc) {
        var eventLat = <%= event.latitude %>;
        var eventLng = <%= event.longitude %>;
        var eventLoc = new google.maps.LatLng(eventLat, eventLng);

        var eventRadius = <%= event.radius %>;

        var mapCanvas = document.getElementById("map-canvas");
        var mapOptions = {
          zoom: 18,
          center: eventLoc,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var circle = new google.maps.Circle({
          strokeColor: color,
          strokeOpacity: 0.6,
          strokeWeight: 2,
          fillColor: color,
          fillOpacity: 0.35,
          map: map,
          center: eventLoc,
          radius: eventRadius,
        });

        if (currentLoc) {
          var marker = new google.maps.Marker({
            position: currentLoc,
            map: map,
            title: 'you!',
          });
        }

        google.maps.event.addListener(circle, 'center_changed', function() {
          var center = circle.getCenter();
          updateLatLng(center.lat(), center.lng());
        });

        google.maps.event.addListener(circle, 'radius_changed', function() {
          updateRadius(circle.getRadius());
        });
      }

      function showLocation(position) {
        var currentLat = position.coords.latitude;
        var currentLng = position.coords.longitude;
        var currentLoc = new google.maps.LatLng(currentLat, currentLng);

        var eventLoc = new google.maps.LatLng(<%= event.latitude %>, <%= event.longitude %>);
        var eventRadius = <%= event.radius %>;

        var eventCircle = new google.maps.Circle({
          center: eventLoc,
          radius: eventRadius,
        });

        var mapCanvas = document.getElementById("map-canvas");

        if (eventCircle.getBounds().contains(eventLoc)) {
          showMap('#22DD22', currentLoc);
          showCheckIn(true);
        } else {
          showMap('#DD22DD', currentLoc);
          showCheckIn(false);
        }
      }

      function showError(error) {
        // switch(error.code) {
        //   case error.PERMISSION_DENIED:
        //     locText.innerHTML = "User denied the request for Geolocation."
        //     break;
        //   case error.POSITION_UNAVAILABLE:
        //     locText.innerHTML = "Location information is unavailable."
        //     break;
        //   case error.TIMEOUT:
        //     locText.innerHTML = "The request to get user location timed out."
        //     break;
        //   case error.UNKNOWN_ERROR:
        //     locText.innerHTML = "An unknown error occurred."
        //     break;
        // }

        showMap('#222222', null);
      }

      function showCheckIn(rightPlace) {
        var now = new Date();
        var eventStart = new Date("<%= event.start %>");
        var eventEnd = new Date("<%= event.end %>");

        var rightTime = (eventStart < now && now < eventEnd);

        var load = document.getElementById("checkin-loading");
        var rprt = document.getElementById("rightplace-righttime");
        var wprt = document.getElementById("wrongplace-righttime");
        var rpwt = document.getElementById("rightplace-wrongtime");
        var wpwt = document.getElementById("wrongplace-wrongtime");
        var but = document.getElementById("checkin-button");

        load.setAttribute('hidden', true);
        rprt.setAttribute('hidden', true);
        wprt.setAttribute('hidden', true);
        rpwt.setAttribute('hidden', true);
        wpwt.setAttribute('hidden', true);
        but.setAttribute('disabled', true);
        but.removeAttribute('disabled');

        if (rightPlace && rightTime) {
          rprt.removeAttribute('hidden');
          // but.removeAttribute('disabled');
        } else if (rightTime) {
          wprt.removeAttribute('hidden');
        } else if (rightPlace) {
          rpwt.removeAttribute('hidden');
        } else {
          wpwt.removeAttribute('hidden');
        }
      }
    </script>

  </body>
</html>
