<!DOCTYPE html>
<html>
  <head>
    <title>all events</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
  <div class="container">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>all events</h1>

    <% var errors = req.flash('errors');
       if (errors) {
        _.each(errors, function (error) { %>
          <p><%= error %></p>
    <% })} %>

    <table class="table">
      <tr>
        <th>name</th>
        <th>lat</th>
        <th>lng</th>
        <th>radius</th>
        <th>start</th>
        <th>end</th>
      </tr>
      <% _.each(events, function (event) { %>
      <tr>
        <td><a href="events/<%= event.id %>"><%= event.name %></a></td>
        <td><%= event.latitude %></td>
        <td><%= event.longitude %></td>
        <td><%= event.radius %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
      </tr>
      <% }) %>
    </table>

  </div>
  </div>
  </div>
  </body>
</html>
